<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93dd95">  <td>19/03/30 11:27:44</td>   <td>0</td> <td title="&gt;&gt;CRAFTTestCase.setUpTestSuite(org.testng.ITestContext)[pri:0, instance:testscripts.FieldExperience@21213b92]">&gt;&gt;setUpTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1549409129</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/30 11:27:44</td>   <td>231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRAFTTestCase.setUpTestRunner()[pri:0, instance:testscripts.FieldExperience@21213b92]">&gt;&gt;setUpTestRunner</td> 
<td>&nbsp;</td>  <td>main@1549409129</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/03/30 11:27:44</td>   <td>231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FieldExperience.TC001_Demo_Form_Creation(com.MFA.framework.selenium.SeleniumTestParameters)[pri:0, instance:testscripts.FieldExperience@21213b92]">TC001_Demo_Form_Creation</td> 
  <td>main@1549409129</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>19/03/30 11:27:45</td>   <td>1516</td> <td title="&lt;&lt;CRAFTTestCase.tearDownTestSuite()[pri:0, instance:testscripts.FieldExperience@21213b92]">&lt;&lt;tearDownTestSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1549409129</td>   <td></td> </tr>
</table>
